{% extends 'base.html.twig' %}

{% block title %}
    {% if selectedUser %}
        Dialog with {{ selectedUser.username }}
    {% else %}
        Select a User to start a dialog
    {% endif %}
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

    {% set currentUserData = { 'id': currentUser.id, 'username': currentUser.username, 'avatarFileName': currentUser.avatarFileName } %}

    <div class="flex h-screen bg-gray-200 text-black-600 relative">
        <!-- Sidebar -->
        <div id="user-list" class="overflow-auto w-1/4 bg-white border-r border-gray-200"
             data-users="{{ users }}"
             data-current-user="{{ currentUserData | json_encode }}"
             data-unread-message-status-array="{{ unreadMessageStatusArray | json_encode }}"
             data-last-messages-in-dialog-array="{{ lastMessagesInDialogArray | json_encode }}"
             data-last-message-time-in-dialog-array="{{ lastMessageTimeInDialog | json_encode }}"
             data-mercure-url="http://127.0.0.1:3001/.well-known/mercure?topic=/dialog/user/{{ currentUser.id }}">
        </div>
        <!-- Main Content -->
        <div class="flex-1 flex flex-col">

            <!-- Header -->

            <div class="border-b p-5 flex justify-between items-center bg-white">

                {% if selectedUser %}

                    <div class="flex items-center">
                        <div id="dropdownSelectedUserActionButton" data-dropdown-toggle="dropdownSelectedUserActionMenu" data-dropdown-placement="bottom" class="w-12 h-12 relative">
                            <img class="w-full h-full rounded-full border-4 border-gray-600 transform transition-transform duration-200 ease-in-out hover:scale-110" src="{{ asset('avatars/' ~ (selectedUser.avatarFileName ?? 'user-tie-solid.svg')) }}"
                                 alt="{{ selectedUser.username }}">
                        </div>
                        <div id="dropdownSelectedUserActionMenu" class="z-10 hidden bg-white border border-gray-200 rounded-lg shadow-md w-40">
                            <ul>
                                <li class="flex items-center py-2 px-4 bg-white text-red-500 hover:text-red-700 active:bg-red -200 transition-colors duration-200 cursor-pointer">
                                    <span class="h-3 w-3 mb-3 mr-2"><i class="fa-solid fa-trash"></i></span>
                                    <a href="{{ path('app_delete_dialog', {'id': selectedUser.id}) }}" class="ml-2">Delete dialog</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ml-4">
                            <h1 class="text-lg font-bold">{{ selectedUser.username }}</h1>
                            <span class="message-timestamp text-sm font-normal text-gray-500 dark:text-gray-400 pl-1">
                                {% if selectedUser.status == 'online' %}
                                    {{ selectedUser.status }}
                                {% else %}
                                    User was here at: {{ selectedUserChangeStatusAt }}
                                {% endif %}
                            </span>
                        </div>
                    </div>

                {% endif %}

                <!-- Status Menu -->

                <div class="flex items-end">
                    <div id="dropdownUserStatusIconButton" data-dropdown-toggle="dropdownUserStatusIconMenu" data-dropdown-placement="bottom" class="group cursor-pointer text-black hover:text-gray-800 mb-3 flex items-center space-x-2">
                        <span id="statusDot" class="dot bg-green-500 rounded-full h-2 w-2 inline-block mr-2"></span> <!-- Status dot -->
                        <span id="statusText">Online</span> <!-- Status text -->
                        <i id="iconNormal" class="fa-solid fa-chevron-down transition-transform duration-200 group-hover:rotate-180"></i>
                        <i id="iconAnimated" class="hidden fa-solid fa-chevron-down animate-bounce"></i>
                    </div>

                    <div id="dropdownUserStatusIconMenu" class="z-10 hidden bg-white border border-gray-200 rounded-lg shadow-md w-40">
                        <ul>
                            <li class="flex items-center py-2 px-4 hover:bg-gray-100" data-status="Online">
                                <span class="h-3 w-3 mr-2 bg-green-500 rounded-full"></span> <!-- Status dot -->
                                <span>Online</span> <!-- Status text -->
                            </li>
                            <li class="flex items-center py-2 px-4 hover:bg-gray-100" data-status="Busy">
                                <span class="h-3 w-3 mr-2 bg-orange-400 rounded-full"></span> <!-- Status dot -->
                                <span>Busy</span> <!-- Status text -->
                            </li>
                        </ul>
                    </div>

                    <div id="dropdownUserIconButton" data-dropdown-toggle="dropdownUserIconMenu" data-dropdown-placement="bottom" class="group text-black-500 hover:underline pl-4" type="button">
                        <img class="fa-right-from-bracket w-12 h-12 rounded-full border-4 border-blue-500 transform transition-transform duration-200 ease-in-out group-hover:scale-110"
                             src="{{ asset('avatars/' ~ (currentUser.avatarFileName ?? 'user-tie-solid.svg')) }}"
                             alt="{{ currentUser.username }}" />
                    </div>

                    <div id="dropdownUserIconMenu" class="z-10 hidden bg-white border border-gray-200 rounded-lg shadow w-40">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton">
                            <li class="block">
                                <a href="#" class="flex justify-between items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                    <span>Settings</span>
                                    <i class="fa-solid fa-gears"></i>
                                </a>
                            </li>
                            <li class="block">
                                {{ form_start(avatarForm) }}
                                <label class="flex justify-between items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                    Avatar
                                    <i class="fa-regular fa-images"></i>
                                    {{ form_errors(avatarForm.avatarFileName) }}
                                    {{ form_widget(avatarForm.avatarFileName, {'attr': {'style': 'display: none', 'onchange': 'this.form.submit()'}}) }}
                                </label>
                                {{ form_end(avatarForm) }}
                            </li>
                            <li class="block mt-2 border-t border-gray-200 pt-2">
                                <a href="{{ path('app_logout') }}" class="flex justify-between items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                    <span>Log Out</span>
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        {% if selectedUser %}

            {% set selectedUserData = {'id': selectedUser.id, 'username': selectedUser.username, 'avatarFileName': selectedUser.avatarFileName} %}

            <!-- Message List -->
            <div id="message-list" class="flex-1 overflow-auto p-5 space-y-5"
                 data-selected-user="{{ selectedUserData|json_encode }}"
                 data-current-user="{{ currentUserData|json_encode }}"
                 data-messages="{{ messages|json_encode }}"
                 data-mercure-url="http://127.0.0.1:3001/.well-known/mercure?topic=/dialog/user/{{ currentUser.id }}"
                >
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('user-list') }}


    {% if selectedUser %}

        {{ encore_entry_script_tags('messageBubbleLogic') }}

        {{ encore_entry_script_tags('userStatusLogic') }}

        {{ encore_entry_script_tags('message-list') }}

    {% endif %}



{% endblock %}
