{% extends 'base.html.twig' %}

{% block title %}
    {% if selectedUser %}
        Dialog with {{ selectedUser.username }}
    {% else %}
        Select a User to start a dialog
    {% endif %}
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

    <div class="flex h-screen bg-gray-200 text-black-600 relative">
        <!-- Sidebar -->
        <div class="overflow-auto w-1/4 bg-white border-r border-gray-200">
            <div class="p-5">
                <!-- Search Form Starts Here -->
                <form class="max-w-md mx-auto">
                    <!-- Search Input -->
                    <div class="relative">
                        <label for="default-search" class="sr-only">Search</label>
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500" aria-hidden="true" fill="none" viewBox="0 0 20 20">
                                <!-- Search Icon -->
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                        </div>
                        <!-- Search Input Field -->
                        <input type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search Users" required />
                        <!-- Search Button -->
                    </div>
                </form>
                <!-- User List Starts Here -->
                <ul id="user-list" class="mt-5 space-y-5">
                    <!-- Iterate through users -->
                    {% for user in users %}
                        {% if currentUser.id != user.id %}
                            <li class="animate__animated animate__fadeIn">
                                <!-- User List Item -->
                                <a class="block py-2 px-6 hover:bg-gray-200 rounded-lg flex items-center" href="{{ path('app_dialog', {id: user.id}) }}">
                                    <div class="w-8 h-8 mr-3">
                                        <img class="w-full h-full rounded-full border border-gray-600"
                                             src="{{ asset('avatars/' ~ (user.avatarFileName ?? 'user-tie-solid.svg')) }}" alt="{{ user.username }}">
                                    </div>
                                    <div>
                                        <h1 class="text-lg font-bold">
                                            {{ user.username }}
                                            <!-- Check if the user has unread messages -->
                                            {% if unreadMessageStatusArray[user.id] ?? false %}
                                                <!-- If the user has unread messages, add a blue dot indicator -->
                                                <span class="w-2 h-2 ml-2 inline-block bg-blue-500 rounded-full"></span>
                                            {% endif %}
                                        </h1>
                                        {% if user.lastMessageContent %}
                                            <p class="text-sm text-gray-500">{{ user.lastMessageContent }}</p>
                                        {% else %}
                                            <p class="text-sm text-gray-500">No recent message!</p>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>


        <!-- Main Content -->
        <div class="flex-1 flex flex-col">

            <!-- Header -->

            <div class="border-b p-5 flex justify-between items-center bg-white">

                {% if selectedUser %}

                    <div class="flex items-center">
                        <div class="w-12 h-12 relative">
                            <img class="w-full h-full rounded-full border-4 border-gray-600 transform transition-transform duration-200 ease-in-out hover:scale-110" src="{{ asset('avatars/' ~ (selectedUser.avatarFileName ?? 'user-tie-solid.svg')) }}"
                                 alt="{{ selectedUser.username }}">
                        </div>
                        <div class="ml-4">
                            <h1 class="text-lg font-bold">{{ selectedUser.username }}</h1>
                            <span class="message-timestamp text-sm font-normal text-gray-500 dark:text-gray-400 pl-1">
                                {% if selectedUser.status == 'online' %}
                                    {{ selectedUser.status }}
                                {% else %}
                                    User was here at: {{ selectedUserChangeStatusAt }}
                                {% endif %}
                            </span>
                        </div>
                    </div>

                {% endif %}

                <!-- Status Menu -->

                <div class="flex items-end">
                    <div id="dropdownUserStatusIconButton" data-dropdown-toggle="dropdownUserStatusIconMenu" data-dropdown-placement="bottom" class="group cursor-pointer text-black hover:text-gray-800 mb-3 flex items-center space-x-2">
                        <span id="statusDot" class="dot bg-green-500 rounded-full h-2 w-2 inline-block mr-2"></span> <!-- Status dot -->
                        <span id="statusText">Online</span> <!-- Status text -->
                        <i id="iconNormal" class="fa-solid fa-chevron-down transition-transform duration-200 group-hover:rotate-180"></i>
                        <i id="iconAnimated" class="hidden fa-solid fa-chevron-down animate-bounce"></i>
                    </div>

                    <div id="dropdownUserStatusIconMenu" class="z-10 hidden bg-white border border-gray-200 rounded-lg shadow-md w-40">
                        <ul>
                            <li class="flex items-center py-2 px-4 hover:bg-gray-100" data-status="Online">
                                <span class="h-3 w-3 mr-2 bg-green-500 rounded-full"></span> <!-- Status dot -->
                                <span>Online</span> <!-- Status text -->
                            </li>
                            <li class="flex items-center py-2 px-4 hover:bg-gray-100" data-status="Busy">
                                <span class="h-3 w-3 mr-2 bg-orange-400 rounded-full"></span> <!-- Status dot -->
                                <span>Busy</span> <!-- Status text -->
                            </li>
                        </ul>
                    </div>

                    <div id="dropdownUserIconButton" data-dropdown-toggle="dropdownUserIconMenu" data-dropdown-placement="bottom" class="group text-black-500 hover:underline pl-4" type="button">
                        <img class="fa-right-from-bracket w-12 h-12 rounded-full border-4 border-blue-500 transform transition-transform duration-200 ease-in-out group-hover:scale-110"
                             src="{{ asset('avatars/' ~ (currentUser.avatarFileName ?? 'user-tie-solid.svg')) }}"
                             alt="{{ currentUser.username }}" />
                    </div>

                    <div id="dropdownUserIconMenu" class="z-10 hidden bg-white border border-gray-200 rounded-lg shadow w-40">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton">
                            <li class="block">
                                <a href="#" class="flex justify-between items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                    <span>Settings</span>
                                    <i class="fa-solid fa-gears"></i>
                                </a>
                            </li>
                            <li class="block">
                                {{ form_start(avatarForm) }}
                                <label class="flex justify-between items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                    Avatar
                                    <i class="fa-regular fa-images"></i>
                                    {{ form_errors(avatarForm.avatarFileName) }}
                                    {{ form_widget(avatarForm.avatarFileName, {'attr': {'style': 'display: none', 'onchange': 'this.form.submit()'}}) }}
                                </label>
                                {{ form_end(avatarForm) }}
                            </li>
                            <li class="block mt-2 border-t border-gray-200 pt-2">
                                <a href="{{ path('app_logout') }}" class="flex justify-between items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                    <span>Log Out</span>
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        {% if selectedUser %}

            <!-- Message List -->

            <div id="message-list" class="flex-1 overflow-auto p-5 space-y-5">
                {% for message in messages %}
                    {% if message.sender == selectedUser.username %}
                        {% include 'messages/other_message.html.twig' with {'message': message} %}
                    {% else %}
                        {% include 'messages/user_message.html.twig' with {'message': message} %}
                    {% endif %}
                {% endfor %}
            </div>

                <!-- Message Form -->

            <form id="message-form" class="border-t p-5" action="" method="post" enctype="multipart/form-data">
                {{ form_start(messageForm) }}
                <div class="flex items-center justify-center">
                    <!-- Emoji button -->
                    <button id="dropdownMenuEmojiButton" data-dropdown-toggle="dropdownMenuEmoji" data-dropdown-placement="top" class="flex items-center px-3 bg-gray-200 rounded-lg focus:outline-none" type="button">
                        <i class="far fa-smile text-gray-600"></i>
                    </button>

                    <div id="dropdownMenuEmoji" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-64 overflow-auto">
                        <div class="py-2 text-2xl grid grid-cols-5 gap-2 p-2">
                                <!-- Add Emoji icons -->
                                <button class="emoji-btn focus:outline-none transform transition-transform duration-200 ease-in-out active:scale-110" type="button">😀</button>
                                <button class="emoji-btn focus:outline-none transform transition-transform duration-200 ease-in-out active:scale-110" type="button">😃</button>
                                <button class="emoji-btn focus:outline-none transform transition-transform duration-200 ease-in-out active:scale-110" type="button">😄</button>
                                <button class="emoji-btn focus:outline-none transform transition-transform duration-200 ease-in-out active:scale-110" type="button">😁</button>
                                <button class="emoji-btn focus:outline-none transform transition-transform duration-200 ease-in-out active:scale-110" type="button">😆</button>
                                <button class="emoji-btn focus:outline-none transform transition-transform duration-200 ease-in-out active:scale-110" type="button">😅</button>
                                <button class="emoji-btn focus:outline-none transform transition-transform duration-200 ease-in-out active:scale-110" type="button">😂</button>
                                <!-- New Emoji icons -->
                                <button class="emoji-btn focus:outline-none transform transition-transform duration-200 ease-in-out active:scale-110" type="button">😎</button>
                                <button class="emoji-btn focus:outline-none transform transition-transform duration-200 ease-in-out active:scale-110" type="button">😍</button>
                                <button class="emoji-btn focus:outline-none transform transition-transform duration-200 ease-in-out active:scale-110" type="button">😒</button>
                            </div>
                    </div>
                    <!-- Image button -->
                    <label for="message_photoData" class="flex items-center px-3 bg-gray-200 rounded-lg focus:outline-none">
                        {{ form_widget(messageForm.photoData, {'attr': {'style': 'display:none', 'id':'message_photoData'}}) }}
                        <i class="far fa-image text-gray-600 fa-dynamic-icon"></i>
                    </label>
                    <!-- Input field (input) -->
                    {{ form_widget(messageForm.content, {'attr': {'class': 'form-textarea flex-grow rounded-lg py-2 px-12 mx-2 resize-vertical'}}) }}
                    <!-- Submit button -->
                    <button type="submit" class="px-5 py-2 bg-blue-500 text-white rounded-lg"><i class="far fa-paper-plane"></i></button>
                </div>
                {{ form_end(messageForm) }}
            </form>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}

    {% if selectedUser %}
        <script type="text/template" id="user-message-template">
            {% include 'messages/user_message.html.twig' with {'message': {'id': 'id-placeholder', 'sender': 'sender-placeholder', 'content': 'content-placeholder', 'createdAt': 'createdAt-placeholder', 'updatedAt': 'updatedAt-placeholder', 'photoData': 'photoFile-placeholder'}} %}
        </script>

        <script type="text/template" id="other-message-template">
            {% include 'messages/other_message.html.twig' with {'message': {'id': 'id-placeholder', 'sender': 'sender-placeholder', 'content': 'content-placeholder', 'createdAt': 'createdAt-placeholder', 'updatedAt': 'updatedAt-placeholder', 'photoData': 'photoFile-placeholder'}} %}
        </script>

        {{ encore_entry_script_tags('messageBubbleLogic') }}

        {{ encore_entry_script_tags('messageFormLogic') }}

        {{ encore_entry_script_tags('userStatusLogic') }}

        <script>

            const eventSource = new EventSource("{{ mercure('/dialog/user/' ~ currentUser.id)|escape('js') }}");


            window.onload = function() {
                const messageList = document.getElementById('message-list');
                messageList.scrollTop = messageList.scrollHeight;
            };

        </script>
    {% endif %}
{% endblock %}
