
<div class="message-item py-2 pr-6 pl-24 rounded-lg max-w-lg flex flex-col space-y-3
    ml-auto  bg-gray-200 text-gray-800 animate__animated animate__fadeInLeft" data-message-id="{{ message.id }}">
    <div class="flex items-start gap-2.5">
        <img class="w-8 h-8 rounded-full" src="https://i.pinimg.com/736x/45/6a/e4/456ae4e5ae1e340ee824209fd8874c8b.jpg" alt="Jese image">
        <div class="flex flex-col w-full max-w-[420px] leading-1.5 p-4 border-gray-200 rounded-e-xl rounded-es-xl bg-blue-300">
            <div class="flex items-center space-x-2 rtl:space-x-reverse">
                <span class="text-sm font-semibold text-gray-900 dark:text-white">{{ message.sender }}</span>
                <span class="text-sm font-normal text-gray-500 dark:text-gray-400">11:46</span>
            </div>
            <p class="text-sm font-normal max-w-[420px] py-2.5 text-gray-900 dark:text-white">{{ message.content }}</p>

                <span class="message-timestamp text-sm font-normal text-gray-500 dark:text-gray-400">
                    {% if message.updatedAt is not null %}
                        Edited at {{ message.updatedAt }}
                    {% else %}
                            Delivered
                    {% endif %}
                </span>
        </div>
        <button id="dropdownMenuIconButton_{{ message.id }}" data-dropdown-toggle="dropdownDots_{{ message.id }}" data-dropdown-placement="top" class="inline-flex self-center items-center p-2 text-sm font-medium text-center text-gray-900 bg-gray-200 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50" type="button">
            <svg class="svg-inline--fa fa-ellipsis-v fa-w-6 text-xl text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" role="img" focusable="false" viewBox="0 0 192 512">
                <i class="fa-solid fa-ellipsis-vertical text-gray-500 dark:text-gray-400"></i>
            </svg>
        </button>
        <div id="dropdownDots_{{ message.id }}" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-40 ">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton">
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Reply</a>
                </li>
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Forward</a>
                </li>
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Copy</a>
                </li>
            </ul>
        </div>
    </div>
</div>

